<header class="clearfix">
  <a href="/"><img alt="洛桑扎巴" src="{{site.baseurl}}/assets/img/logo.png" class="logo"></a>

  <nav>
    {% if page.title == "Z · H | 洛桑扎巴" %}
      <a href="/" class="active">Z · H - Home Page of 洛桑扎巴 | Tsong khapa</a>
    {% else %}
      <a href="/">Z · H - Home Page of 洛桑扎巴 | Tsong khapa</a>
    {% endif %}
    {% if page.title == "about" %}
      <a href="/about" class="active">About</a>
    {% else %}
      <a href="/about">About</a>
    {% endif %}
    {% if page.title == "notebook" %}
      <a href="/notebook" class="active">Notebook</a>
    {% else %}
      <a href="/notebook">Notebook</a>
    {% endif %}
  </nav>
</header>